/* ./styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  --primary: #39ff14;
  --primary-muted: #1fc700;
  --surface: #fafafa;
  --color: black;
  --info: #096dd9;
  --warn: #faad14;
  --error: #cf1322;
  --success: #39ff14;

  background-color: var(--surface);
  color: var(--color);

  &.dark {
    --surface: #141414;
    --color: #fafafa;

    background-color: var(--surface);
    color: var(--color);
  }
}
